html, body, canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    background: black;
}

p {
    color: white;
}

button {
   opacity: 1;
    border-radius: 5px;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.gameKeys {
    border: solid 2px black;
    padding: 15px 20px 15px 20px;
    background: black;
    border-radius: 10px;

}